<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
</head>
<body>
    {{>head}}
    <input type="text" name="" id="search">
    <input type="button" value="search" id="searchbtn">
    <div>
        <h2 id="cityname">gujranwala</h2>
        <span id="countryname">pakistan</span>
        <h2 id="temprature">19.7 C</h2>
        <h3 id="status"></h3>
        <h3 id="state"></h3>
        <img id="statusicon" src="" alt="">
    </div>
    {{>footer}}
    <script src="./main.js"></script>
</body>
</html>